:root {
  --header-height: 80px;
  --primary-color: hsl(354, 78%,60%);
  --body-color: hsl(206, 4%,97%);
  --text-color: hsl(0,0%,20%);
  --title-color: hsl(0,0%,10%);
  --bg-color: hsl(0,0%,100%);
  --card-color: hsl(0,0%,90%); 

  --body-font: Arial, Helvetica, sans-serif;
  --title-font: 'Inter Tight', sans-serif;

  --big-font: 2rem;
  --medium-font: 1.15rem;
  --normal-font: 1rem;
  --small-font: .8rem;
  --tiny-font: .7rem;

  --font-bold: 700;
  --font-medium:600;
  --font-normal:400;
  --font-tiny: 300;

  --sp-0-5: .5rem;
  --sp-0-75: .75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;

  --z-fixed: 100;
  --z-model: 200;
}

@media (min-width: 768px){
  .root {
    --big-font: 2.5rem;
    --medium-font: 2rem;
    --normal-font: 1.25rem;
    --small-font: 1rem;
    --tiny-font: .8rem;
  }
}

/*** General Styling ***/
html, 
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-normal);
  color: var(--text-color);
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  color: var(--title-color);
}

ul,
ol {
  list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

.container, .nav__a {
    width: 90%;
    margin: 0 auto;
}

.highlight {
    font-weight: var(--font-bold);
}

/**************************************/
 /********* LOADER **********/
 /*************************************/

.loader {
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  z-index: var(--z-model);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader1 {
  display:inline-block;
  font-size:0px;
  padding:0px;
}
.loader1 span {
  vertical-align:middle;
  border-radius:100%;
  
  display:inline-block;
  width:10px;
  height:10px;
  margin:3px 2px;
  -webkit-animation:loader1 0.8s linear infinite alternate;
  animation:loader1 0.8s linear infinite alternate;
}
.loader1 span:nth-child(1) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
 background:rgba(245, 103, 115,0.6);
}
.loader1 span:nth-child(2) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
 background:rgba(245, 103, 115,0.8);
}
.loader1 span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
 background:rgba(245, 103, 115,1);
}
.loader1 span:nth-child(4) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
 background:rgba(245, 103, 115,0.8);
 
}
.loader1 span:nth-child(5) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
 background:rgba(245, 103, 115,0.4);
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in;
}

@keyframes loader1 {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes loader1 {
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}


 /************************************/
 /********* HEADER **********/
 /************************************/

 .header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .header__logo {
  width: 60px;
 }

 .header__container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr repeat(2,0.8fr);
}

.header__icon {
  grid-column: 4;
}

.icon { 
  stroke: #000; 
  opacity: .95; 
  stroke-width: 6;
  
}

.nav__buttons {
  grid-column: 3;
}

 .nav {
    position: absolute;
    left: 0;
    top: var(--header-height);
    transform: scaleY(0);
    transform-origin: top;
    background-color: var(--primary-color);
    width: 100%;
    transition: all 0.5s;
    z-index: -100;
    overflow: hidden;
 }

 .show_menu {
    transform: scaleY(1);
 }

 .nav__a {
    display: block;
    padding: 20px 0px;
    color: white;
    transition: all 0.3s ease-in-out;
 }

 .nav__li {
  transition: all 0.3s ease-in-out;
 }

 .nav__li:hover {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1px;
 }


 .btn--cart {
  font-size: var(--sp-2);
  position: relative;
 }

 .notify {
  position: absolute;
  top: 0;
  right:-5px;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: var(--small-font);
  color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
 }
 
 .notify--show {
  opacity: 1;
  visibility:visible;
 } 

 /************************************/
 /********* SECTION BANNERS **********/
 /************************************/
 
 .slider {
  margin: auto;
  margin-top: 100px;
  width: 100%;
  max-width: 900px;
  position: relative;
  
 }

 /** container--slider > slider **/
 /** slider > slider__wrapper **/
 /**slider section > slider-wrapper**/


 .slider__wrapper {
  display: flex;
  width: 400%;
  height: 200px;
  margin-left:-100%;
 }

 .slider__container {
  overflow: hidden;
 }

 .slider__img {
  width: 100%;
  object-fit: cover;
 }

 .slider__section {
  width: 100%;
 }

 /*** buttons - right - left ***/

 .slider__buttons {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 40px;
  cursor: pointer;
 }

 .slider__buttons:hover {
opacity: 1;
 }
 .slider__buttons--right {
  right: 2rem;
 }
 .slider__buttons--left {
  left: 2rem;
 }
 
 /************************************/
 /********* SECTION MAIN **********/
 /************************************/

.main__title {
  text-align: center;
}

.main {
  margin-top: var(--sp-2);
}


/*** Products ***/

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
  gap: var(--sp-2-5);
  align-self: center;
  margin-top: var(--sp-2);
}

.product {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
 
}

.product:hover{
  transform: scale(1.02);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.07);
  
}


.product__image {
  padding: var(--sp-1-5);
  background-color: var(--card-color);
}

.product__image img {
  transition: transform .3s ease-in-out;
}

.product:hover img {
  transform: scale(1.17);
}

.product__content {
  position: relative;
  background-color: var(--bg-color);
  padding: var(--sp-1-5);
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.product__btn--add-to-cart {
  position: absolute;
  top: 0;
  right: var(--sp-1-5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.65rem;
  transition: background-color .4s ease-in-out, background-color .4s ease-in-out;
}

.product__btn--add-to-cart:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.product__price {
  grid-column: span 1;
}

.product__stock {
  grid-column: span 2;
  justify-self: flex-end;
}

.product__title {
  grid-column: span 3;
  font-size: var(--medium-font);
}

.product__price,
.product__stock {
  margin-top: var(--sp-1);
}

/************************************/
 /********* FOOTER  **********/
 /************************************/

 .footer {
  margin-top: var(--sp-3);
  margin-bottom: var(--sp-1);
 }

 .footer__container, .footer__top {
  display: grid;
  row-gap: var(--sp-1-5);
 }

 .footer__title {
  margin-bottom: var(--sp-0-75);
 }

 .footer__title,
 .footer__text {
  text-align: center;
 }

 .footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--sp-3);
 }

 .footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--title-color);
  width: var(--sp-2-5);
  height: var(--sp-2-5);
  border-radius: 50%;
  font-size: var(--sp-1-5);
  color: var(--bg-color);
  transition: all 0.4s ;
 }

 .footer__link:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
 }
 
 .footer__bottom {
  text-align: center;
 }

 /************************************/
 /********* CART **********/
 /************************************/

 .cart {
  position: fixed;
  top: var(--header-height);
  right: -100%;
  max-width: 375px;
  width: 100%;
  height: calc(100% - var(--header-height));
  background-color: var(--bg-color);
  z-index: var(--z-fixed);
  transition: right .4s ease-in-out;
 }

 /** Show Cart **/
 .cart--show {
  right:0;
 }

 .cart__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 3fr;
  height: 100%;
 }

 .cart__header {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr .5fr;
  width: 100%;
  padding-top: var(--sp-1);
  padding-left: var(--sp-1-5);
 }

 .cart__title {
  grid-column: span 2;
 }

 .cart__btn--close {
  font-size: var(--sp-1-5);
  display: flex;
  justify-self: flex-start;
 }

 .cart__body {
  padding: var(--sp-1-5);
  overflow-y: auto;
 }

 .cart__empty {
  display: flex;
  align-items:center;
  column-gap: var(--sp-0-5);
 }

 .cart__article {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
  column-gap: var(--sp-1);
  margin-bottom: var(--sp-1);
 }

 .cart__article--img {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  align-self: center;
  border-radius: var(--sp-0-5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }

 .cart__article--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
 }

 .cart__article--content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 40px;
 }

 .cart__article--title {
  grid-column: span 4 ;
 }

 .cart__article--quantity {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: var(--sp-1)
 }

 .cart__article__btn--remove {
  display: flex;
  justify-self: flex-end;
 }

 .cart__footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 0.5fr 0.6fr 1fr;
  background-color: var(--card-color);
  padding: var(--sp-1-5);
 }

 .cart__counter {
  grid-column: span 2;
  font-size: var(--normal-font);
  align-self: center;
 }

 .cart__total {
  grid-column: 4;
  grid-row:2;
  justify-self: flex-end;
  
 }

 .cart__subtotal {
  grid-column: 4;
  grid-row: 1;
  justify-self: flex-end;
 }

 .cart__notice {
  grid-column: 1 / 4;
  grid-row: 3;
 }

 .btn--buy {
  grid-column: span 4;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: 0.15rem;
  margin-top: var(--sp-0-5);
  padding: var(--sp-0-75);
 }

 /************************************/
 /********* RESPONSIVE : MEDIA QUERIES  **********/
 /************************************/

 @media(min-width:768px){
  .cart {
    top: var(--header-height)
  }
  .header__container {
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
  }
    .nav {
      position: static;
      transform: none;
      width: auto;
      grid-column: 2 / span 3;
      z-index: 0;
      background: none;
    }
    .nav__a {
      padding: var(--sp-1);
      color: var(--text-color);
      font-weight: var(--font-bold);
   }
   .nav__li:hover {
    background-color: var(--primary-color);
   }
   .nav__a:hover {
    color: var(--bg-color);
   }
    .nav__buttons {
      grid-column: 5;
      justify-self: flex-end;
    }
    .nav__ul {
      display: flex;
      justify-content: space-around;
    }
    

    #header__icon {
      display: none;
    }
   
 }